<h2>{{article.title}}</h2> 
<h5>Written by {{article.author}}</h5>
<p>{{article.body}}</p>
<hr>
{{#if user}}
<a href="/article/update/{{article.id}}"><button type="button" class="btn btn-default">Edit</button></a>
<a href="/article/delete/{{article.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
{{/if}}